:root{
  --bgtheme:#dbeafe;
  --bgwhite:#fff;
}
:root.dark{
  
  --bgtheme:grey;
  --bgwhite:#a7a7a7;
}
.bg-light{
  background-color:var(--bgwhite);
}
.sidebar{
  height:calc(100vh - 50px);
  background-color:var(--bgtheme);
  
}
.header{
  background-color:var(--bgtheme);
}
@media only screen and (max-width:767px) {
  .sidebar{
    display: none;
  }
}